/* ### General styles begin here ### */

* {
   box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   margin: 0;
   padding: 0;
}

body {
   background-color: white;
   font-family: arial;
   color: white;
}

ul {
   list-style: none;
   display: flex;
}

ul li {
   margin-left: 2em;
}

h1 {
   font-size: 3.4em;
   font-weight: 500;
}

a {
   text-decoration: none;
   color: #1a1a1a;
}

/* ### Navbar-sytles begin here ### */

#navbar {
   background-color: white;
   color: #1a1a1a;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   padding: 0 1.6em;
   height: 4.2em;
   font-size: 110%;
}

#navbar img {
   height: 3em;
}

/* ### Hero-section styles begin here ### */

#hero {
   background-image: url('../images/landing.jpg');
   background-size: contain;
   height: calc(0.65 * 100vw);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#hero-news {
   text-align: center;
   font-size: 1.25em;
   margin: 1em 0;
}

/* ### Middle-section-styles begin here ### */

#middle-section img {
   width: 6em;
}

#middle-section {
   color: #1a1a1a;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2.5em 0 2em;
}

#middle-section h2 {
   font-weight: bold;
   font-size: 165%;
   margin-bottom: 1.5em;
   text-decoration: underline 3px;
   text-underline-offset: 0.3em;
   text-decoration-color: #00b172;
   line-height: 1.6em;
}

#features-wrapper {
   display: flex;
   justify-content: center;
   padding: 2em 0 1em;
   margin: 0 2em;
}

.features {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: 0 1em;
   align-self: baseline;
}

.features h4 {
   color: #00b172;
   font-weight: bold;
   font-size: 140%;
   margin: 0.8em 0 1em;
}

.features p {
   font-size: 110%;
   padding: 0 1.5em;
}

/* ### Bottom-section-styles begin here ### */

#bottom-section {
   background-color: #00b172;
   margin: 1.5em;
   display: flex;
   justify-content: center;
   padding: 3em 4em;
   position: relative;
}

#bottom-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 20%;
}

#bottom-wrapper h3 {
   font-weight: 400;
   font-size: 160%;
   text-decoration: underline 3px;
   text-underline-offset: 0.4em;
   line-height: 1.6em;
   margin-bottom: 0.75em;
}

#bottom-wrapper h5 {
   font-weight: bold;
   font-size: 140%;
}

#bottom-wrapper p {
   width: 15.6em;
   line-height: 1.6em;
}

#bottom-wrapper p:not(:last-child) {
   margin-bottom: 0.7em;
}

#bottom-section img {
   margin-top: 1.75em;
   width: 15em;
}

#spotify-dot img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 6em;
   margin: -3em 0 0 -3em;
}
