/* ### General styles begin here ### */

* {
   box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;
   margin: 0;
   padding: 0;
   -webkit-text-size-adjust: none;
}

body {
   background-color: white;
   font-family: arial;
   color: white;
}

a {
   text-decoration: none;
   color: #1a1a1a;
}

/* ### DESKTOP ### Navbar-sytles begin here ### */

#navbar {
   background-color: white;
   z-index: 1;
   color: #1a1a1a;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   padding: 0 1.6em;
   height: 4.2em;
   font-size: 110%;
}

#navbar img {
   height: 3em;
}

ul {
   list-style: none;
   display: flex;
}

ul li {
   margin-left: 2em;
}

/* ### DESKTOP ### Hero-section styles begin here ### */

#hero {
   background-image: url('../images/landing.jpg');
   background-size: contain;
   height: calc(0.65 * 100vw);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#hero h1 {
   font-size: 3.4em;
   font-weight: 500;
}

#hero-news {
   text-align: center;
   font-size: 1.25em;
   margin: 1em 0;
   width: 55%;
}

/* ### DESKTOP ### Middle-section-styles begin here ### */

#middle-section img {
   width: 6em;
}

#middle-section {
   color: #1a1a1a;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2.5em 0 2em;
}

#middle-section h2 {
   font-weight: bold;
   font-size: 165%;
   margin-bottom: 1.5em;
   text-decoration: underline 3px;
   text-underline-offset: 0.3em;
   text-decoration-color: #00b172;
   line-height: 1.6em;
}

#features-wrapper {
   display: flex;
   justify-content: center;
   padding: 2em 0 1em;
   margin: 0 2em;
}

.features {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: 0 1em;
   align-self: baseline;
}

.features h4 {
   color: #00b172;
   font-weight: bold;
   font-size: 140%;
   margin: 0.8em 0 1em;
}

.features p {
   font-size: 110%;
   padding: 0 1.5em;
}

/* ### DESKTOP ### Bottom-section-styles begin here ### */

#bottom-section {
   background-color: #00b172;
   margin: 1.5em;
   display: flex;
   justify-content: center;
   padding: 3em 4em;
   position: relative;
}

#bottom-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 20%;
}

#bottom-wrapper h3 {
   font-weight: 400;
   font-size: 160%;
   text-decoration: underline 3px;
   text-underline-offset: 0.4em;
   line-height: 1.6em;
   margin-bottom: 0.75em;
}

#bottom-wrapper h5 {
   font-weight: bold;
   font-size: 140%;
}

#bottom-wrapper p {
   width: 15.6em;
   line-height: 1.6em;
}

#bottom-wrapper p:not(:last-child) {
   margin-bottom: 0.7em;
}

#bottom-section img {
   margin-top: 1.75em;
   width: 15em;
}

#spotify-dot img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 6em;
   margin: -3em 0 0 -3em;
}

/* ### Tablet version - Breakpoint at 768px ### */

@media (max-width: 768px) {
   /* ### TABLET ### Navbar-sytles begin here ### */

   #navbar {
      padding: 0 1.4em;
      height: 3.8em;
      font-size: 100%;
   }

   #navbar img {
      height: 2.8em;
   }

   ul li {
      margin-left: 1em;
   }

   /* ### TABLET ### Hero-section styles begin here ### */

   #hero h1 {
      font-size: 3em;
      position: relative;
      top: 7%;
   }

   #hero-news {
      font-size: 1.1em;
      position: relative;
      top: 7%;
   }

   /* ### TABLET ### Middle-section-styles begin here ### */

   #middle-section img {
      width: 4em;
   }

   #middle-section {
      padding: 1.5em 0 1em;
   }

   #middle-section h2 {
      font-size: 165%;
      margin-bottom: 0.5em;
   }

   .features {
      margin: 0 0.5em;
      align-self: center;
   }

   .features h4 {
      color: #00b172;
      font-weight: bold;
      font-size: 110%;
      margin: 0.8em 0 1em;
   }

   .features p {
      font-size: 100%;
      padding: 0 0.5em;
   }

   /* ### TABLET ### Bottom-section-styles begin here ### */

   #bottom-section {
      padding: 3em 3em;
      flex-wrap: wrap;
   }

   #bottom-wrapper {
      margin-right: 10%;
      width: 45%;
   }

   #bottom-wrapper h3 {
      font-weight: 400;
      font-size: 140%;
      text-decoration: underline 3px;
      text-underline-offset: 0.4em;
      line-height: 1.4em;
      margin-bottom: 0.75em;
   }

   #bottom-wrapper h5 {
      font-weight: bold;
      font-size: 125%;
   }

   #bottom-wrapper p {
      width: 95%;
      line-height: 1.3em;
   }

   #bottom-section img {
      margin-top: 0.5em;
      align-self: flex-start;
      width: 45%;
   }

   #spotify-dot img {
      width: 6em;
      margin: 3em 0 0 0;
      position: static;
   }
}

/* ### Mobile version - Breakpoint at 480px ### */

@media (max-width: 480px) {
   /* ### MOBILE ### Navbar-sytles begin here ### */

   #navbar {
      background-color: white;
      color: #1a1a1a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      width: 100%;
      padding: 0 0em;
      height: 7em;
      font-size: 110%;
   }

   #navbar img {
      height: 3em;
   }

   ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 100vw;
   }

   ul li {
      margin-left: 0em;
   }

   @media (max-width: 350px) {
      #navbar {
         height: 14em;
      }
      ul {
         flex-direction: column;
         align-items: center;
      }
      ul li {
         font-size: 120%;
      }
   }

   /* ### MOBILE ### Hero-section styles begin here ### */

   #hero {
      background-size: cover;
      background-position: center;
      height: calc(1.8 * 100vw);
      padding: 0 1em;
   }

   #hero h1 {
      font-size: 2.5em;
      text-align: center;
      top: 10%;
   }

   #hero-news {
      width: 70%;
      top: 10%;
   }

   @media (max-width: 350px) {
      #hero {
         height: calc(2.2 * 100vw);
         padding-top: 14em;
      }

      #hero h1 {
         top: 7%;
      }

      #hero-news {
         font-size: 0.9em;
         width: 80%;
         top: 7%;
      }
   }

   /* ### MOBILE ### Middle-section-styles begin here ### */

   #middle-section {
      padding: 2.5em 0;
   }

   #middle-section h2 {
      margin: 1em 0;
   }

   #features-wrapper {
      flex-direction: column;
      padding: 0;
      margin: 0;
   }

   .features {
      width: 100%;
      flex-direction: row;
      padding: 2em 1em;
   }

   .features h4 {
      font-size: 130%;
      width: 70%;
      margin: 0 1em;
   }

   .features p {
      font-size: 100%;
      padding: 0;
   }

   @media (max-width: 350px) {
      #middle-section h2 {
         text-align: center;
      }

      #middle-section img {
         display: none;
      }

      .features {
         flex-wrap: wrap;
         justify-content: center;
      }

      .features p {
         margin-top: 0.5em;
      }
   }

   /* ### MOBILE ### Bottom-section-styles begin here ### */

   #bottom-section {
      margin: 0;
      padding: 0;
   }

   #bottom-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-start;
      padding: 3.5em 2em 4em;
      margin: 0;
      width: 100%;
   }

   #bottom-wrapper h3 {
      font-size: 160%;
      margin-bottom: 1.5em;
   }

   #bottom-wrapper h5 {
      font-size: 140%;
   }

   #bottom-wrapper p {
      width: 100%;
      line-height: 1.4em;
   }

   #bottom-section img {
      margin-top: 0em;
      width: 100%;
   }

   #spotify-dot {
      align-self: flex-start;
      display: flex;
      justify-content: center;
      width: 100%;
   }

   #spotify-dot img {
      width: 6em;
      margin: 3em 0;
   }
}

/* ### WEARABLES ### Own version for devices < 210px display width ### */

@media (max-width: 210px) {
   * {
      display: none;
   }
}
